
.itemPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.itemContainer {
    text-align: center;
    border: 1px solid black;
    margin: 1rem;
    width: 500px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(46, 46, 46);
    border: solid 2px white;
    
}

img {
    width: 500px;
}
small{
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}

.itemDetailStrong, .itemDetailSmall{
    color: white;
}

.itemDetailH2{
    background-color: rgb(212, 238, 253);
    width: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.itemDetailPriceDiv{
    background-color: lightgreen;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.itemDetailStock{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.itemDetailCartButton{
    display: flex;
}

.itemDetailFinishButton{
    background-color: rgb(255, 217, 93);
    width: 160px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    height: 36px;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 17px;
    text-align: center;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.itemDetailFinishButton:hover{
    color: white;
}
