
.itemPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.itemContainer {
    text-align: center;
    border: 1px solid black;
    margin: 1rem;
    width: 500px;
    justify-self: center;
    align-items: center;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

img {
    width: 500px;
}
small{
    display: block;
}