.cart-div{
    display: flex;
    align-items: center;
}
.cart-img{
    width: 30px;
    margin: 20px;
}

.cart-p{
    background-color: aliceblue;
    border-radius: 50%;
    width: 20px;
    text-align: center;
    border: solid red 1px;
}

.cartQuantity{
    color: white;
    margin-top: 5px;
    margin-left: -7px;
}