.cart-div{
    display: flex;
    align-items: center;
}
.cart-img{
    width: 30px;
    margin: 20px;
}

p{
    background-color: aliceblue;
    border-radius: 50%;
    width: 20px;
    text-align: center;
    border: solid red 1px;
}